@import "tailwindcss";

@font-face {
    font-family: "Roboto";
    src: url("./assets/fonts/Roboto-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@theme {
    --color-foreground: hsl(var(--foreground));
    --color-background: hsl(var(--background));
    --color-line: hsl(var(--line));
    --color-secondary: hsl(var(--secondary));
}

@layer base {
    :root {
        --background: 228, 7%, 14%;
        --foreground: 220, 4%, 84%;
        --line: 215, 77%, 66%;
        --secondary: 218, 4%, 63%;
    }
    body {
        @apply bg-background text-secondary/70;
        font-family: "Roboto", sans-serif;
        font-size: 16px;
    }
}
