@import "tailwindcss";

@font-face {
    font-family: "Roboto";
    src: url("./assets/fonts/Roboto-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@theme {
    --color-foreground: hsl(var(--foreground));
    --color-background: hsl(var(--background));
    --color-line: hsl(var(--line));
    --color-secondary: hsl(var(--secondary));
}

@layer base {
    :root {
        --background: 225, 7%, 13%;
        --foreground: 210, 13%, 91%;
        --line: 217, 89%, 62%;
        --secondary: 210, 7%, 64%;
    }
    body {
        @apply bg-background text-secondary/70 font-bold;
        font-family: "Roboto", sans-serif;
        font-size: 12px;
    }
}

a[href^="tel:"],
a[href^="mailto:"] {
  text-decoration: none !important;
  color: inherit !important; /* Optional: makes the link use the surrounding text color */
}